<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Vetpedia</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Welcome to VetPedia</h1>
        <!-- <p>This is a welcoming message for Vetpedia.</p> -->
    </div>
</body>
</html>
